<section class="home">
    <header>
        <label><i class="fa fa-search" aria-hidden="true"></i><input type="text" placeholder="搜索商品分类、名称" @focus="changeCurrentView('search')"></label>
    </header>
    <main>
        <nav>
            <li class="active">发布时间</li>
            <li>喜爱值</li>
        </nav>
        <div class="content">
            <section v-for="goods in goods_list">
                <div class="title" @click="CheckTheDetails(goods._id)">
                    <img src="./img/girl.jpeg" alt="avatar" class="avatar">
                    <span>{{ goods.user_id.name }}</span>
                </div>
                <div class="img_list" @click="CheckTheDetails(goods._id)">
                    <div style=" background-image:url('./img/true.jpeg')"></div>
                    <div style=" background-image:url('./img/normal.png')"></div>
                    <div style=" background-image:url('./img/normal.png')"></div>
                </div>
                <div class="description">
                    <div @click="CheckTheDetails(goods._id)">
                        <span>¥</span>
                        <span>{{ goods.price }}</span>
                    </div>
                    <div>
                        <p @click="CheckTheDetails(goods._id)">{{ goods.goods_name }}</p>
                        <div>
                            <span>{{ goods.degree }} 成新</span>
                            <span @click="addLike(goods._id,++goods.like)"><i class="fa fa-heart" aria-hidden="true"></i> {{ goods.like }}</span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <div class="active">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span>首页</span>
        </div>
        <div @click="changeCurrentView('publish')">
            <div class="add">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
        </div>
        <div @click="changeCurrentView('mine')">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span>我的</span>
        </div>
    </footer>
</section>