<div class="dialog-mask" style="display:flex">
    <div class="dialog dialog-sm project-create-dialog inviter-dialog" role="dialog">
        <div class="heading text-center">
            <button class="pull-right close-button" @click="close()">&times;</button>
            <div class="caption">
                <h1>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                </h1>
                <h4>Add member to the project</h4>
            </div>
        </div>
        <div class="body">
            <input type="text" class="form-control" id="invite" placeholder="username or email address" v-model="inviteName">
            <ul class="_list_inviter" v-if='isSearchMembers'>
                <li v-for="member in searchMembers" class="clearflex">
                    <img :src="member.avatar_sm" alt="">
                    <b>{{member.name}}</b>
                    <span>{{member.email}}</span>
                    <button class="bn pull-right add-button" @click="sendInvite(member.name)">+</button>
                </li>
            </ul>
        </div>
    </div>
</div>