<section class="group-panel">
    <h3>Today({{ countToday(logs) }}):</h3>
    <hr/>
    <ul class="list-group">
        <li class="list-group-item clearfix" v-for="(log, index) in logs">
            <span class="col-sm-8 col-xs-12 icon-dot6">{{log.log}}</span>
            <span class="col-sm-3 col-xs-9 pull-right text-right pdt1 sub-text"  
                :title="log.name">
                {{log.time | time}}
                <img class="avatar_sm" :src="log.avatar_sm || '/home/static/images/avatar.png'">
            </span>
        </li>
        <button class="bn bn-block"  @click="fetchLogs()" v-if='logsPage > page'>
            Click here to load more log records!
        </button>
    </ul>
</section>