<section class="group-panel">
    <div>
        <div class="clearfix toolbar">
            <button class="bn danger pull-right" v-if='myrole !== "Owner"' @click='leaveOrg()'>Leave</button>            
            <button class="bn primary pull-right" v-if ='myrole !=="Members"' @click='inviteMember()'>Invite member</button>
            <!--<button class="bn primary pull-right" @click='inviteMember()'>Transfer</button>-->
        </div>
        <section class="panel member-list">
            <div class="panel panel-heading clearfix">
                <div class="select">
                    <label for="all" class="select_checkbox">
                        <input type="checkbox" name="all"  @change="watchCheckedAll($event)"/>
                    </label>
                    <span class="select_word">
                        Select All
                    </span>
                </div>
                <div class="dropdown">
                    <button id="dLabel" class="bn bn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter by role
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                        <li @click="fetchMembers()"><a>Everyone</a></li>
                        <li @click="filterMembersRole('Owner')"><a>Owner</a></li>
                        <li @click="filterMembersRole('Admin')"><a>Admin</a></li>
                        <li @click="filterMembersRole('Members')"><a>Members</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-body">
                <ul class="list-unstyled">
                    <li class="clearfix " v-for="(user, index) in  members">
                        <div class="cell cell_checkbox">
                            <input type="checkbox" v-model="user.checked">
                        </div>
                        <div class="cell cell_avatar">
                            <img v-bind:src="user.avatar_sm || '/home/static/images/avatar.png'">
                        </div>
                        <div class="cell memberInfo">
                            <span class="info-name">{{user.name}}</span>
                            <span class="sub-text">{{user.email}}</span>
                        </div>
                        <div class="cell_right">
                            <div class="cell cell_right_role">
                                <i class="fa fa-circle" :style="roleColor(user.role)"></i>
                                <select class="form-select" v-if='myrole =="Owner" && user.role !="Owner"' @change='changeRole(user,$event)' v-model='user.role'>
                                    <option value ="Admin">Admin</option>
                                    <option value="Members">Members</option>
                                </select>
                                <span v-else >{{user.role}}</span>
                            </div>
                            <div class="cell cell_right_action">
                                <span v-if="user.role !== 'Owner' && !user.join_time" class="sub-text">Invited</span>
                                <button class="bn bn-sm danger" v-if="user.join_time && roleWeight(myrole) > roleWeight(user.role) && myrole !== 'Members'" @click='deleteMember(user.name)'>Delete</button>                            
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <!--<div v-if='!isAdd && isTransfer'>
        <div class="form-group">
            <label class="col-sm-3 col-xs-12 control-label">Transfer Organization to :</label>
            <div class="col-sm-4 col-xs-8">
                <input type="text" class="form-control" placeholder="username or email address" v-model='newOwner'>
            </div>
        </div>
        <button @click='changeRole(newOwner,"Owner");isTransfer=false'>Transfer</button>
        <button @click='isTransfer=false'>cancel</button>
    </div>-->
</section>