<section class="group-panel">
    <div>
        <div class="clearfix toolbar">
            <button class="bn primary pull-right" @click='showImportProjectModal()'>Import project</button>
            <!--<button class="bn primary pull-right" @click='showCreateProjectModal()'>Creat new project</button>-->
        </div>
        <section>
            <ul class="list-unstyled project-list">
                <li v-for="(project, index) in projectList">
                    <div class="panel">
                        <div class="panel-heading clearfix">
                            <h5 class="panel-heading-title">
                                <a :href="project.link">
                                    <i class="fa fa-navicon"></i> {{project.name}}
                                </a>
                                <button class="bn bn-sm danger pull-right" v-if="myrole ==='Owner' || project.creator" @click="deleteProject(project.name)">Disband</button>
                                <button class="bn bn-sm danger pull-right" v-if="!(myrole ==='Owner' || project.creator) && project.private "  @click="leaveProject(project.name)">Leave</button>
                            </h5>
                        </div>
                        <div class="panel-body">
                            <div class="row clearfix">
                                <div class="col-sm-3 col-xs-6" v-for='member in project.members'>
                                    <div class="user-badge text-center text-overflow">
                                        <img class="user-badge-avatar" :src='member.user.avatar_sm' :alt='member.user.name' />
                                        <span>{{member.user.name}}</span>
                                        <button v-if="(myrole ==='Owner' || project.creator) && member.role !='Admin' " class="user-badge-del" @click="deleteProjectMembers(project.name,member.user.name)">×</button>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-xs-6" v-if="myrole ==='Owner' || project.creator" @click='showAddProjectMemberModal(project.name)'>
                                    <div class="user-badge text-center text-overflow">
                                        <img class="user-badge-avatar" src="/home/static/images/icon-add.png" />
                                        <span>Add</span>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <span>
                                <span class="inb100">
                                    <i class="fa fa-circle" :style="appColor(project.app.name)"></i>
                                    {{project.app.name | short_appname}}
                                </span>
                            <span class="label label-private" v-if="project.private">
                                    <i class="icon icon-private"></i>
                                    Private
                                </span>
                            </span>
                            <span class="pull-right">
                                <i class="fa fa-calendar"></i>Created {{project.created_time | ago}}
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </div>
    <transition name="fade">
        <create-project-dialog v-on:event="eventManager" v-if="isCreateProjectModalVisible" :appList="appList" :members="members" />
        <add-project-member-dialog v-on:event="eventManager" v-if="isAddProjectMemberModalVisible" :projectInviters='projectInviters' :projectMembers="projectMembers" />
        <import-project-dialog v-on:event="eventManager" v-if="isImportProjectModalVisible" :appList="appList" :members="members" />
    </transition>
</section>