@mixin flex-center(){
    display: flex;
    justify-content: center;
    align-items: center;
}
html,body,body>div:first-child{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana, Tahoma, "Microsoft YaHei", Sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    color: #555;
}
.bn{
    background-color: rgb(255,199,0);
    color:#555;
    border: none;
    border-radius: 4px;
    margin: 0;
    padding: 5px;
    outline: none;
}
.bn-disabled{
    background-color:#ccc;
    color: #fff;
}