.goods-details{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    >header{
        width: 100vw;
        height: 60px;
        box-shadow: -1px 1px 1px -1px #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        i{
            position: absolute;
            left: 30px;
        }
    }
    .active{
        color: rgb(255,199,0);
    }
    >p{
        display: block;
        height: 5vh;
        padding: 0;
        box-shadow: -1px 1px 1px -1px #ccc;
        @include flex-center();
        >b{
            display: inline-block;
            width: 5vw;
        }
        text-align: center;
    }
    >main{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        p{
            padding: 0 5px;
            color: #555;
        }
        .mui-slider{
            width: 100%;
            height: 40vh;
            >.mui-slider-group{
                height: 100%;
            }
        }
        .mui-slider-item{
            div{
                width: 100%;
                height: 100%;
                background-clip: border-box;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        .title{
            margin-top: 5px;
        }
        .info{
            display: flex;
            justify-content: space-around;
            align-items: center;
            span:first-child,.fa-heart{
                color: #f00;
            }
        }
        .userInfo{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            img{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                margin-right: 20px;
                border: 1px solid #ccc;
            }
        } 
        .commentsWrap{
            flex: 1;
            overflow: scroll;
            background-color: #f1f1f1;
            section{
                background: #fff;
                margin-bottom: 5px;
                padding: 5px;
            }
        }  
    }
    section{
        padding: 0 10px;
        >.userInfo{
            >img{
                width: 30px;
                height: 30px;
            }
        }
        textarea{
            margin-bottom: 0px;
        }
    }
}