.login{
    width: 100%;
    height: 100%;
    background:rgba(19,29,49,0.9);
    @include flex-center();
    flex-direction: column;
    color: #f1f1f1;
    >form{
        width: 100vw;
        min-height: 30vh;
        @include flex-center();
        flex-direction: column;
        >div,.login_btn{
            width: 60%;
            margin-bottom: 20px;
        }
        >div:first-child{
            border-bottom: 1px solid #ccc;
        }
        input{
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 15px;
            max-width: 80%;
        }
        .check_code{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            >div:first-child{
                max-width:70%; 
                border-bottom: 1px solid #ccc;
                margin-right: 5px;
            }
        }
        .timeWait{
            margin: 0;
            padding: 0;
            width: 20px;
            height: 20px;
        }
    }
}
